@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.thumbcontainer{
  border-radius:10px;
  height:90px;
  margin:50px auto;
  overflow: hidden;
  position: relative;
  width:390px;
}


.thumbup,.thumbdown{
  border-radius:10px;
  background:rgba(255,255,255,0.2);
  color:rgba(255,255,255,0.5);
  float:left;
  font-size:50px;
  height:100%;
  line-height:90px;
  text-align:center;
  transition:all .2s linear;
  width:90px;
}

.thumbdown{margin-left:60px;}

.thumbcheck{
  background:#f65330;
  border-radius:10px;
  color:#fff;
  cursor:pointer;
  font-size:50px;
  height:100%;
  line-height:90px;
  position: absolute;
  padding-left:20px;
  right:-320px;
  transition:all .2s linear;
  width:100%;
}

.thumbup:hover{
  background:#2ecc71;
  color:#fff;
  cursor:pointer;
}

.thumbuppressed {
  background:#2ecc71;
  color:#fff;
  cursor:pointer;
}

.thumbdown:hover{
  background:#e74c3c;
  color:#fff;
  cursor:pointer;
}

.thumbdownpressed {
  background:#e74c3c;
  color:#fff;
  cursor:pointer;
}

.thumbok{
  background: #30c3bb;
  right: -20px;  
}
.thumbscaleDown{
  transform:scale(0);
}

